<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KwikieViewR.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7334B0941C82BF26008FD097</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7334B0AD1C82BF26008FD097</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7334B0B81C82BF26008FD097</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
